 body {
    background-color: white;
    margin: 0;
}

header {
    background-color: rgb(41, 115, 178);
    font-size: 50px;
    font-family: "Lucida Calligraphy";
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:sticky;
    align-self: flex-start;
    top:0;
    overflow:hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(72, 166, 167);
    margin: 0;
}

.socialmedia-icon {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon {
    height: 40px;
    width: 40px;
    margin: 10px 0px 0px 0px;
}

.even-article {
    background-color: rgb(242, 239, 231);
}

.uneven-article {
    background-color: rgb(154, 203, 208);
}

.title {
    background-color: inherit;
    text-align: center;
    font-size: clamp(30px, 2.2vw, 90px);
    margin: 0;
}

.article-image {
    height: 10em;
    width: auto;
    margin: 0px 50px 0px 50px;
}

@media(min-width: 800px) {
    p {
        flex-direction: row;
    }

    .article-image {
        font-size: inherit;
    }

}

@media(max-width: 800px) {
    .even-paragraph {
        flex-direction: column-reverse;
    }

    .uneven-paragraph {
        flex-direction: column;
    }

    .article-image {
        margin: 30px 0px 0px 0px;
        font-size: inherit;
        object-fit: contain;
    }
}

a {
    text-decoration:none;
    color: red;
}

.gohome {
    text-decoration:none;
    color: black;
}

.flex-ignore{
    display:contents;
}

p {
    display: flex;
    background-color: inherit;
    width: 90%;
    margin: 20px;
    color: black;
    font-family: "Gadugi";
    font-size: clamp(20px, 2vw, 80px);
}

table, th, td{
    border: 2px solid black;
}

.table-title{
    column-span: all;
}