html, body {
    display:flex;
    flex-direction: column;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

main{
    display:flex;
    flex:1;
}

header {
    font-family: "Stencil Std";
    font-size: 2vw;
    text-align: center;
    background-color: #0000ff7c;
    color: white;
}

h1{
    text-align: center;
    margin: 0;
}

.flexbox {
    display:flex;
    flex:1;
    margin:0;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    gap:3%;
}

.flexbox > a > figure > img {
  width: 20vw;
  height: auto;
  border: 5px solid #000c66;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}

.flexbox figure:hover {
    transform: scale(1.1);
}

figure {
    align-items:center;
    display:flex;
    flex-direction: column;
}

figcaption {
    font-size:2vw;
    color: #0000EE;  /* Classic link blue */
    text-decoration: none;  /* No underline by default */
    cursor: pointer;  /* Changes cursor to indicate it's clickable */
}

figcaption:hover {
    text-decoration: underline;  /* Underline on hover to mimic link behavior */
}

@media screen and (min-height: 100vw) {
    .flexbox {
        flex-direction: column;
    }
    .flexbox > a > figure > img {
        height: 20vh;
        width:auto;
    }
    figcaption {
        font-size:2vh;
  }
}

