body{
    margin: 0px;
}

header {
    background-color: rgb(157, 168, 196);
    font-size: clamp(40px, 3vw, 140px);
    font-family: "Lucida Calligraphy";
    margin: 0px;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

p {
    text-align: center;
    width: 100%;
    color: black;
    font-family: "Gadugi";
    font-size: clamp(20px, 2vw, 80px);
}

.title {
    background-color: inherit;
    text-align: center;
    font-size: clamp(30px, 2.2vw, 90px);
    margin: 20px;
}

h1.title {
    margin: 10px;
}

#file-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 40px;
}

#file-loader__input {
    padding: 20px;
    border: 2px solid black;
}

@media (min-width: 600px) {
    input[type="file"] {
        transform: scale(1.5);
    }
}

@media (max-width: 600px){
    input[type="file"] {
        transform: scale(1.2);
    }
}