body{
    margin: 0px;
}

header {
    background-color: rgb(157, 168, 196);
    font-size: clamp(30px, 3vw, 140px);
    font-family: "Lucida Calligraphy";
    margin: 0;
    text-align: center;
    height: 15vh;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    background-color: rgb(194, 207, 237);
    margin: 0;
}

article{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

section {
    border: 0.5vh solid black;
    flex-grow: 1;
    text-align: center;
}

.title {
    background-color: inherit;
    text-align: center;
    font-size: clamp(60px, 3vw, 120px);
    height: 2vh;
    margin: 3vh;
    position: absolute;
}

h1 {
    background-color: inherit;
    text-align: center;
    font-size: clamp(30px, 2.2vw, 90px);
    margin: 3vh;
}

p {
    text-align: center;
    width: 100%;
    color: black;
    font-family: "Gadugi";
    font-size: clamp(10px, 1.5vw, 60px);
    margin: 3vh 0px;
}

table{
    border: 2px solid black;
    height: 10vh;
    width: auto;
}

tr, th, td {
    border: 2px solid black;
}

#section-student{

}

#section-course{

}