body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 26px;
}

header {
    background-color: rgb(157, 168, 196);
    font-size: clamp(30px, 3vw, 140px);
    font-family: "Lucida Calligraphy";
    margin: 0;
    text-align: center;
    height: 15vh;
    line-height: 13vh;
}

article{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 80vh;
}

section {
    border: 0.5vh solid black;
    flex-grow: 1;
    text-align: center;
}

#section-course > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    text-align: unset;
    align-items: center;
}

ul {
    list-style-position: inside;
    width: 220px;
}

li{
    margin: 10px 0px;
}

footer {
    background-color: rgb(194, 207, 237);
    flex: 1; 
    min-height: 5vh;
}

h1, h2{
    font-size: 30px;
}

h2{
    text-align: center;
}

img {
    /* max-width: 800px;
    max-height: 600px; */
    max-width: 50vw;
    max-height: 40vh;
    width: auto;      
    height: auto; 
}
