body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

header {
background-color: rgb(41, 115, 178);
font-size: 50px;
font-family: "Lucida Calligraphy";
margin: 0;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
position:sticky;
align-self: flex-start;
top:0;
overflow:hidden;
}

nav {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 40px;
background-color: rgb(72, 166, 167);
margin: 0;
}

.socialmedia-icon {
height: 30px;
width: 30px;
padding: 0;
margin: 5px;
display: flex;
align-items: center;
justify-content: center;
}

.home-icon {
height: 40px;
width: 40px;
margin: 10px 0px 0px 0px;
}

.evenArticle {
  background-color: #201f4f;
  height: 30vw;
  margin: 0px;
  width: 100%;
}

.unevenArticle {
  background-color: #0f0f0f;
  height: 30vw;
  width: 100%;
  margin: 0px;
}

td, th {
border: 2px solid white;
}

.flex-ignore{
  display:contents;
}
ul{
margin-left: 1vw;
color: white;
font-size: 2vw;
}
li{
color: white;
font-size: 2vw;
}
table{
color: white;
font-size: 2vw;
margin-left:auto;
margin-right:auto;
}
h1{
  color: white;
  background-color: inherit;
  text-align: center;
  margin: 0;
}

p {
  background-color: inherit;
  width: 100%;
  margin: 2vw;
  word-break: break-word;
  font-size: 2vw;
  color: white;
  font-family: "Gadugi";

}


.gohome {
text-decoration:none;
color: black;
}

.centered{
text-align: center;
}
div{
  height: 20px;
}

/* W3schools stuff*/
.parallax {
/* The image used */
background-image: url("../../../resources/images/teamnl.jpg");

/* Set a specific height */
width:  100vw; 
min-height: 80vh;
height:auto;
/* Create the parallax scrolling effect */
background-attachment: fixed;
bottom: 20;
background-repeat: no-repeat;
background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
.parallax {
  background-attachment: scroll;
  min-height: 20vh;
}
}
img {

width: 20vw;
height: auto;
}